@media (max-width: 1901px) {


    @keyframes ani-left {
        0% {
            transform: translateX(-150%);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes ani-right {
        0% {
            transform: translateX(150%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .left-construction {
        position: absolute;
        top: 0;
        left: 0;

        transform: translateX(-150%);
        animation: ani-left 1s forwards;

    }

    .right-construction {
        position: absolute;
        top: 0;
        right: 0;

        transform: translateX(150%);
        animation: ani-right 1s forwards;
    }
}

@media (max-width: 1600px) {
    .left-construction {
        transform: scale(0.7);
        top: -63px;
        left: -71px;

    }
}

@media (max-width: 900px) {
    .left-construction {
        transform: scale(0.5);
        top: -105px;
        left: -118px;
    }
}

@media (max-width: 690px) {
    .left-construction {
        transform: scale(0.4);
        top: -151px;
        left: -151px;
    }

    .right-construction {
        top: 0px;
        right: -87px;
    }
}