.pop-up {
    width: 320px;
    height: 370px;
    position: absolute;
    z-index: 999;
  
    background-color: white;
    display: none;
}

.pop-up__cross {
    position: relative;
  
    width: 20px;
    height: 20px;

    left: calc(100% - 20px);
    top: 5px;

    text-align: center;
}

.pop-up__button {
    width: 200px;
    height: 59px;
    align-items: center;
}